<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
</head>
<body>
    <h1>Howdy, {{session['first_name']}}!!!</h1>
    <h2>All TV Shows</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for show in shows %}
        <tr>
            <td>{{show.name}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date.strftime('%Y-%m-%d')}}</td>
            <td><a href='/shows/{{show.id}}'>View</a> | 
                <a href='/shows/edit/{{show.id}}'>Edit</a> | 
                <a href='/shows/delete/{{show.id}}'>Delete</a> 
            </td>
        </tr>
        {% endfor %}
    </table><br>
    <a href="/shows/new">Create</a>
    <a href="/logout">Logout</a>
</body>
</html>