<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}



    <h1>Add a New Show</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <form action="/shows/create" method="POST">
        <label for="name">Title:</label>
        <input type="text" name="name" id="name"><br>
        <label for="network">Network:</label>
        <input type="text" name="network" id="network"><br>
        <label for="release_date">Release Date:</label>
        <input type="date" name="release_date" id="release_date"><br>
        <label for="description">Description:</label><br>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>